body {
  margin: 0;
  padding: 0;
  max-width: 350px;
  min-width: 350px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  width: 100%;
  background: #112d45;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: auto;
  height: 30px;
}

nav {
  padding: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 8px 0;
}

nav ul li a {
  align-items: center;
  background: rgb(0 153 250 / 30%);
  border-radius: 4px;
  color: #0073bb;
  display: flex;
  justify-content: center;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}

nav ul li a:hover {
  background: #0073bb;
  color: #fff;
}

footer {
  background: rgba(0, 0, 0, 0.2);
  padding: 6px;
  text-align: center;
  width: 100%;
}

footer p {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
